body {
  background-color:  hsl(217, 54%, 11%);
  font-family: 'Outfit', sans-serif;
  display: flex;
  justify-content: center; /* Centers horizontally (left/right) */
  align-items: center; /* Centers vertically (up/down) */
  min-height: 100vh; /* Makes body at least 100% of the Viewport Height */
  flex-direction: column;
}

.card {
  background-color: hsl(216, 50%, 16%);
  border-radius: 15px;
  padding: 24px;
  max-width: 350px;
}

.image-container {
  position: relative;
}

.image-container img {
  max-width: 100%;
  border-radius: 10px;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(178, 100%, 50%, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  cursor: pointer;
  transition: .5s ease;
}

.card-title {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 16px;
}

.card-description {
  color: hsl(215, 51%, 70%);
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.price-text {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}

.time-text {
  color:  hsl(215, 51%, 70%);
}

.price-box, .time-box {
  display: flex;
  align-items: center;
  gap: 6px;
}

.card-footer {
  margin-top: 24px;
  padding-top: 16px;
  border-top: 1px solid hsl(215, 32%, 27%);
  display: flex;
  align-items: center;
  gap: 12px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(215, 51%, 70%);
  margin-top: 2rem;
}

.attribution a {
  color: hsl(178, 100%, 50%);
  text-decoration: none;
}

.author-text {
  color: hsl(215, 51%, 70%);
}

.author-text a {
  color: hsl(0, 0%, 100%);
}

.card-title:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.card-footer a:hover {
  color: hsl(178, 100%, 50%);
}

.image-container:hover .overlay {
  opacity: 1;
}

@media (max-width: 375px) {
  .card {
    width: 90%;
  }
}